<div class="panel">
  <p class="section"> 
    Corporate
  </p>
  <p>
    Newpad is a subsidiary of Yasboti Inc., a Montreal startup dedicated to crafting technologies that simplify the mundane.
  </p>
  <p class="section"> 
    Origins
  </p>
  <p>
    Newpad started as a personal project born out of frustrations of apartment hunting.
    A proof-of-concept site launched in January 2011; overwhelmingly positive feedback prompted further development.
  </p>
  <p class="section"> 
    Awards
  </p>
  <p>
    In May 2011, the site won first prize in the <a href="http://www.cira.ca/awards/en/awards.html">.CA Impact Awards</a> competition
    (Web Technology and Design category) and was showcased at the <a href="http://www.meshconference.com/">Mesh 2011</a> conference in Toronto.
  </p>
  <p class="section">
    Coming up
  </p>
  <p>
    We're working on some incredible features that will give our users an unfair advantage in the competitive world of apartment hunting.
    Early-adopter invites available soon!
  </p>
  <p class="section">
    Contact
  </p>
  <p>
    You can get in touch with us at 
    <script language="javascript"> 
    <!--
    MFmLmAYnralxkrt();
    //-->
    </script> 
    or via our <a href="http://www.facebook.com/#!/pages/newpadca/180983548600803">Facebook group</a>.
  </p>
</div>
