<div class="panel">
  <p class="section"> 
    General
  </p>
  <p>
    The Map Search service is free and does not require registration.
  </p>
  <p class="section"> 
    Personal
  </p>
  <p>
    Email Alerts, Search Manager and Property Portfolio require registration in order to personalize features and ensure privacy.
  </p>
  <p class="section"> 
    Premium
  </p>
  <p>
    Premium Email Alerts, Landing Page and Premium Property Portfolio require a paid service subscription.
  </p>
  <p class="section"> 
    Sign up
  </p>
  <p>
    <a href="#">Register with your email</a> to access Personal and Premium features. 
  </p>
</div>
