<div class="panel">
  <p class="section"> 
    What is it?
  </p> 
  <p> 
    We make it easier to find an apartment or a room for rent. You can search housing classifieds from Craigslist and Kijiji using a map.
    Look for places in a specific area, see at a glance how many are available in your price range. <b>Updated every 15 minutes.</b> 
  </p> 
  <p class="section"> 
    How to use it?
  </p> 
  <p> 
    Specify your search below.
    Click anywhere on the map to search for places in that area.
    Change the price range with the slider on the right.
    If you zoom in, searches will show more/older postings in that area (up to 50 at a time).
    Zooming out will let you see the newest postings over a large area.
  </p>
  <p class="section"> 
    Try it!
  </p> 
  <p>
    I want to find
    <select style="width:10em;">
    <option value="ap">an apartment</option>
    <option value="ro">a room</option>
    </select>
    in <select style="width:10em;"></select> <input type="button" value="Go!"></input>
  </p>
</div>
