<b>Newpad Privacy Policy</b><br> 
<p> 
This Privacy Policy applies exclusively to information practices related to our website, <a href="http://newpad.ca">newpad.ca</a>. 
Although this website contains links to other websites, please be aware that we are not responsible for the privacy practices of those, or any other sites. If you follow a link to another website you should carefully read their privacy policy. 
 
</p> 
<br/> 
<b>Personal Information Collected on this Website</b><br> 
<p> 
No personally-identifiable information is collected on this website from consumers that browse the website for information. 
</p> 
<br/> 
<b>Anonymous Information Collected on this Website</b><br> 
<p> 
We record anonymous data such as traffic logs, visits or clicks on a given page, pages viewed or links to our site. We use cookies for gathering website statistics.
</p> 
<p> 
We aggregate this anonymous data as part of managing, maintaining and reporting on use of our website. We may share this anonymous data with third parties for the limited purpose of reporting on use of our website, or to comply with applicable law. We do not rent, sell or share any anonymous data collected on this website with third parties for marketing purposes. 
</p> 
<br/> 
<b>Cookies</b> 
<p> 
We use cookies on this website. Cookies are small chunks of data created by a web server, delivered through a web browser, and stored on your computer. They provide a means for websites that you visit to keep track of your online patterns and preferences, as well as identify you as a return visitor. Cookies make the personalization of your web experiences possible, so that you do not need to re-enter your information from scratch upon each visit to a given website. 
</p> 
<p> 
We serve a cookie to note the anonymous web traffic described in the previous section of this Privacy Policy. 
</p> 
<p> 
No personally-identifiable information is collected by or linked to any of the cookies delivered on our site. 
</p> 
<p> 
You have the ability to manage the use of cookies on your computer using controls in your web-browser. To learn more about how to manage cookies, visit <a href="http://www.allaboutcookies.org/" target="_blank">http://www.allaboutcookies.org/</a>. 
</p> 
<br/> 
<b>On-Site Advertising</b> 
<p>Any advertisements served by Google, Inc., and affiliated companies may be controlled using cookies. These cookies allow Google to display ads based on your visits to this site and other sites that use Google advertising services. Learn how to opt out of Google's cookie usage. As mentioned above, any tracking done by Google through cookies and other mechanisms is subject to Google's own privacy policies.
</p> 
<p>About Google advertising: What is the DoubleClick DART cookie? The DoubleClick DART cookie is used by Google in the ads served on publisher websites displaying AdSense for content ads. When users visit an AdSense publisher's website and either view or click on an ad, a cookie may be dropped on that end user's browser. The data gathered from these cookies will be used to help AdSense publishers better serve and manage the ads on their site(s) and across the web.
</p> 
<p>Google offer you the option of removing yourself from this service if you may choose.  You may opt out of the use of the DART cookie by visiting the <a href="http://www.google.co.uk/privacy_ads.html">Google ad and content network privacy policy</a>.</p> 
<br/> 
<b>Changes to Our Privacy Policy</b> 
<p> 
As our organization, membership and services evolve, this Privacy Policy may be revised to reflect those changes, where applicable. We therefore reserve the right to amend this Privacy Policy at any time, for any reason. Notice of such amendments will be posted as an updated Privacy Policy on this website, and an effective date will be indicated. Users are encouraged to check our site frequently to review the current Privacy Policy in effect.  
</p> 
