<div class="panel">
  <p class="section"> 
    Market
  </p> 
  <p>
    Newpad facilitates the flow of information between rental market participants. 
    We do this by simplifying existing workflows, automating the processing of information, and contextualizing its presentation.
    We offer products to four general groups of customers:
  </p>
  <p class="section">Renters</p>
  <ul>
    
    <li>
      Map Search - allows searching by location and key criteria. Search results are presented on a map,
      with relevance encoded visually.
    </li>
    <li>
      Email Alerts - search criteria can be saved, and new results are sent via email at the end of the day.
    </li>
    <li>
      Premium Email Alerts - alerts sent in near-realtime (system constraints permitting)
    </li>
    <li>
      Search Manager - organizes search, visit notes, and scheduling of appointments.
    </li>
  </ul>
  <p class="section">Landlords and property managers</p>
  <ul>
    <li>
      Landing Page - provides a vehicle for branding, contact information, and personalized messages from property owners.
    </li>
    <li>
      Property Portfolio - manages property postings, with structured descriptions and photos. Allows easy listing and de-listing of units.
    </li>
    <li>
      Premium Property Portfolio - service for managers with more than three rental units.
    </li>
  </ul>
  <p class="section">Advertisers</p>
  <ul>
    <li>
      Hyperlocal Ads - display ads to users searching specific locations. Advertising relevant on a local, community level.
    </li>
  </ul>
  <p class="section">Technology partners</p>
  <ul>
    <li>licensing</li>
    <li>web plugin</li>
    <li>API</li>
  </ul>
</div>
